# Galileo Configuration
GALILEO_API_KEY="<galileo-api-key-goes-here>"
GALILEO_CONSOLE_URL="<do-not-set-this-if-using-saas-galileo-instance>"
GALILEO_PROJECT_NAME="<your-project-name-goes-here>"
GALILEO_LOG_STREAM="default"

# OpenAI Key, create an AI workshop with SWIPE to get a temporary key
OPENAI_API_KEY="open-api-key"
OPENAI_BASE_URL="https://lite-llm-proxy.splunko11y.com/v1"
OPENAI_MODEL_NAME="gpt-4.1-mini"