# Galileo Configuration
GALILEO_API_KEY="<galileo-api-key-goes-here>"
#GALILEO_CONSOLE_URL="<uncomment-and-set-this-only-if-not-using-saas-galileo-instance>"
GALILEO_PROJECT_NAME="<your-project-name-goes-here>"
GALILEO_LOG_STREAM="default"

# OpenAI Configuration
OPENAI_API_KEY="<your-openai-api-key-goes-here>"
