# OpenAI Key, create an AI workshop with SWIPE to get a temporary key
OPENAI_API_KEY="open-api-key"
OPENAI_BASE_URL="https://lite-llm-proxy.splunko11y.com/v1"
OPENAI_MODEL_NAME="gpt-4.1-mini"

# Staging
GALILEO_CONSOLE_URL="https://console.multitenant.galileocloud.io"
GALILEO_API_URL="https://api.multitenant.galileocloud.io"
GALILEO_API_KEY="..."
GALILEO_PROJECT="..."
GALILEO_LOG_STREAM="guardrails"
AGENT_CONTROL_URL="https://agent-control.multitenant.galileocloud.io"
AGENT_CONTROL_AGENT_NAME="my-agent-with-guardrails"
AGENT_CONTROL_TARGET_TYPE="log_stream"
AGENT_CONTROL_RUNTIME_AUTH_MODE="jwt"
AGENT_CONTROL_API_KEY_HEADER="Galileo-API-Key"